config/databases.yml

cache/*
!cache/.ignore
log/*
!log/.ignore

web/uploads/*
!web/uploads/.ignore

web/cache/*

data/sql/*
!data/sql/.ignore

lib/model/base/*
lib/form/base/*
lib/filter/base/*

base

data/*.index
